{% extends "admin/ex01/base.html" %}
{% block title %}
    <title>Ex01: Display process of a static page.</title>
{% endblock %}
{% block content %}
{% include "admin/ex01/nav.html" %}
<div class="section-content">
    <p>
        After we defined our models and created some initial library records to work with, it's time to write
        the code that presents that information to users. The first thing we need to do is determine what
        information we want to display in our pages, and define the URLs to use for returning those resources.
        Then we'll create a URL mapper, views, and templates to display the pages.
    </p>
    <p>
        The following diagram describes the main data flow, and the components required when handling
        HTTP requests and responses. As we already implemented the model, the main components we'll create are:
    </p>
    <ul>
        <li>URL mappers to forward the supported URLs (and any information encoded in the URLs) to the appropriate view functions.</li>
        <li>View functions to get the requested data from the models, create HTML pages that display the data, and return the pages to the user to view in the browser.</li>
        <li>Templates to use when rendering data in the views.</li>
    </ul>
    <p>
        As you'll see in the next section, we have 5 pages to display, which is too much
        information to document in a single article. Therefore, this article will focus on how to
        implement the home page, and we'll cover the other pages in a subsequent article. This should give you
        a good end-to-end understanding of how URL mappers, views, and models work in practice.
    </p>
</div>
{% endblock %}